*{
    margin: 0;  
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box; 
    font-family: 'Ropa Sans', sans-serif;
    
}
body{
    background-color: black;
    color:black;
}
a {
    text-decoration: none;
    color: orange;
}
a.loginhome {
    text-align: center;
    position: relative;
    left: 70px;
    
}
a.loginhome:hover {
    color: orange;
}
ul {
    list-style: none;
}
img{
    max-width: 100%;
}
/*Cabeçalho*/
.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.logo {
    width: 70px;
    height: 70px;
    float: left;
    background: url(img/logo.png) center center/70px no-repeat;
}
.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    font-size: 1.5em;
    color: white;
    border-radius: 56px;
    background: linear-gradient(to right, #3595C7, #09405d);
}
h1 {
    color: white;
    font-size: 20pt;
    text-align: center;
}
h2 {
    color: orange;
    font-size: 16pt;
    text-align: center;
}
h3 {
    color: #099d6d;
    font-size: 16pt;
    text-align: center;
}
/*Menu*/
.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 2;
}
.btn-close{
    font-size: 3em;
    color:#fff;
    float:right;
    cursor: pointer;
    margin-right: 5%;
}
.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}
.menu li {
    padding: 1.5%;
}
.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}
.menu li a:hover{
    border: 1px solid #099e6e;
}
.footer{
    color: white;
    text-align: center;
}
h1.img_up{
    color: white;
    position: relative;
    left: -70px;
    font-size: 12pt;
}
.text {
    color: white;
} 
img.face {
    position: relative;
    width: 100px;
    left: 350px;
}
img.insta {
    position: relative;
    width: 100px;
    left: 470px;
}
img.whats {
    position: relative;
    width: 100px;
    left: 920px;
}
   
    

/*Tamanho para smarthphones*/

@media only screen and (max-width: 480px){
    img.face {
        position: relative;
        width: 60px;
        left: 60px;
    }
    img.insta {
        position: relative;
        width: 60px;
        left: 35px;
    }
    img.whats {
    position: relative;
    width: 60px;
    left: 190px;
    }
    
}
    